* {
  margin: 0;
  padding: 0%; }

.header {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .header img {
    max-width: 400px; }
  .header li {
    padding: 0%;
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: Arial;
    font-size: 5mm; }

#index
.main {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  #index
.main p {
    color: black;
    font-size: 8mm;
    font-family: Georgia; }

.footer {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .footer .ubicacion {
    border-style: double black;
    max-width: 400px; }
