* {
  margin: 0;
  padding: 0%; }

.header {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .header img {
    max-width: 200px;
    animation-name: logo;
    animation-duration: 3s; }
  .header nav {
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
    .header nav button {
      background-color: darkmagenta;
      color: white; }
    .header nav li {
      color: black;
      font-size: 5mm;
      font-style: oblique;
      font-family: helvetica;
      transition: 1s; }
      .header nav li:hover {
        padding: 20px;
        transition: 1s;
        transform: skewX(1); }
  .header a {
    color: black;
    font-size: 5mm;
    font-family: helvetica;
    font-style: oblique; }

@keyframes logo {
  0% {
    width: 25px; }
  25% {
    width: 50px; }
  50% {
    width: 100px; }
  75% {
    width: 150px; }
  100% {
    width: 200px; } }

#index .main {
  background-repeat: none;
  min-height: auto;
  min-width: auto;
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  #index .main p {
    margin: 0%;
    padding: 5%;
    color: black;
    font-size: 7mm;
    font-family: sans-serif; }
    #index .main p .local {
      max-height: 600px; }
  #index .main h2 {
    background-color: darkviolet;
    color: white;
    font-size: 10mm;
    font-family: georgia;
    font-style: oblique; }
  #index .main .carrucel {
    width: 500px;
    max-height: 400px; }
    #index .main .carrucel .imgcarrucel {
      max-width: 800px;
      max-height: 400px; }
  #index .main .destacados {
    margin-top: 20px;
    background-color: none; }
  #index .main hr {
    margin: 0%;
    size: 5mm;
    color: black; }

.footer {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .footer .ubicacion {
    margin: auto;
    padding: 2%;
    max-width: 300px; }
  .footer li {
    list-style: none;
    color: black;
    text-decoration: none; }
  .footer .logoredes {
    max-width: 40px;
    animation-name: redes;
    animation-iteration-count: infinite;
    animation-duration: 3s; }

.tarjetas {
  max-width: 150px; }

@keyframes redes {
  0% {
    width: 20px; }
  50% {
    width: 30px; }
  100% {
    width: 40px; } }

#alimentos
.main {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  #alimentos
.main .tarjetas {
    max-width: 800px;
    max-height: 500px; }
  #alimentos
.main .videos {
    max-width: 1000px;
    max-height: 600px; }

#accesorios
main .maingrid {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }

#accesorios
main h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10mm;
  font-family: georgia;
  font-style: oblique;
  background-color: darkmagenta;
  color: white; }

#accesorios
main .imgaccesorios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

#accesorios
main .logoaccesorios {
  max-width: 100px;
  max-height: 100px;
  border-radius: 3mm;
  margin-right: 4px; }

#accesorios
main .promo-cuchas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin-top: 7px;
  font-size: 7mm;
  font-family: georgia;
  font-style: oblique;
  background-color: darkmagenta;
  color: white; }

#accesorios
main .promociones {
  font-size: 5mm;
  font-family: georgia;
  background-color: blueviolet;
  color: white; }

#accesorios
main .acorde {
  background-color: darkviolet;
  color: white;
  font-size: 9mm;
  font-family: georgia; }

.footergrid {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .footergrid .ubicacion {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 2%;
    max-width: 300px; }
  .footergrid ul {
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .footergrid li {
    list-style: none;
    color: black;
    font-size: 5mm;
    text-decoration: none; }
  .footergrid .logoredes {
    max-width: 40px;
    animation-name: redes;
    animation-iteration-count: infinite;
    animation-duration: 3s; }
  .footergrid .tarjetas {
    max-width: 150px; }
  .footergrid h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

@keyframes redes {
  0% {
    width: 20px; }
  50% {
    width: 30px; }
  100% {
    width: 40px; } }

#estetica
main .mainestetica {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }

#estetica
main h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10mm;
  font-family: georgia;
  font-style: oblique;
  background-color: darkmagenta;
  color: white; }

#estetica
main h1 {
  margin: 0%; }

#estetica
main .promocion {
  margin-bottom: 10px;
  font-size: 5mm;
  font-family: georgia;
  background-color: blueviolet;
  color: white; }

#estetica
main .margin {
  margin: 0%; }

#estetica
main .acordeo {
  background-color: darkviolet;
  color: white;
  font-size: 9mm;
  font-family: georgia; }

#estetica
main .margenes {
  background-color: palevioletred;
  margin: 0%; }

#estetica
main .pelu {
  margin: 0%;
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

#estetica
main img {
  max-width: 200px;
  max-height: 100px;
  border-radius: 3mm;
  margin-right: 4px; }

#contacto .grid {
  height: 100vh;
  margin: 0%;
  display: grid;
  grid-template-rows: 12% auto 25%;
  grid-template-areas: "header " "main" "footer"; }

.headercontacto {
  grid-area: "header";
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .headercontacto .nav {
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%);
    margin-left: 25px;
    margin-right: 15px; }
    .headercontacto .nav .menunav {
      grid-area: "header";
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .headercontacto .nav .buscador {
      display: flex;
      flex-direction: row;
      justify-content: end; }
    .headercontacto .nav li {
      color: black;
      font-size: 5mm;
      font-style: oblique;
      font-family: helvetica; }
    .headercontacto .nav a {
      color: black;
      font-size: 5mm;
      font-family: helvetica;
      font-style: oblique; }
    .headercontacto .nav button {
      background-color: darkmagenta;
      color: white; }
    .headercontacto .nav .boton {
      height: 30px;
      width: 30px; }
    .headercontacto .nav .boton1 {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      height: 10vh;
      padding: 4px 12px 4px 12px;
      border: 1px 1px 1px 1px; }
  .headercontacto .logofiru {
    max-width: 200px; }

.maingrid {
  grid-area: "main";
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .maingrid h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10mm;
    font-family: georgia;
    font-style: oblique;
    background-color: darkmagenta;
    color: white; }

.datos {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.cuadro1 {
  border-radius: 10px;
  background-color: beige;
  border-style: double;
  border-color: black;
  margin-left: 2px; }

.cuadro2 {
  border-radius: 10px;
  background-color: beige;
  border-style: double;
  border-color: black;
  margin-left: 2px; }

.cuadro3 {
  border-radius: 10px;
  background-color: beige;
  border-style: double;
  border-color: black;
  margin-left: 2px; }

.comentario {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center; }
  .comentario p {
    margin: auto;
    font-size: 6mm;
    font-family: georgia;
    font-style: normal;
    color: whitesmoke; }

ul {
  margin: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  ul .direcciones {
    list-style: none;
    font-size: 5mm;
    font-family: georgia;
    font-style: normal;
    color: white;
    align-items: center;
    background-color: mediumvioletred; }
  ul .telefono {
    max-width: 40px; }
  ul .direccion {
    max-width: 50px; }
  ul .mail {
    max-width: 55px; }

.enviar {
  margin-top: 4px;
  margin-bottom: 30px;
  background-color: coral;
  border-radius: 10px;
  border-color: white;
  width: 60px; }

.gridfooter {
  grid-area: "footer";
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .gridfooter .ubicacion {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 2%;
    max-width: 300px; }
  .gridfooter ul {
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .gridfooter li {
    list-style: none;
    color: black;
    font-size: 5mm;
    margin: auto;
    text-decoration: none; }
  .gridfooter .logoredes {
    max-width: 40px;
    animation-name: redes;
    animation-iteration-count: infinite;
    animation-duration: 3s; }

.tarjetas {
  max-width: 150px; }

h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@keyframes redes {
  0% {
    width: 20px; }
  50% {
    width: 30px; }
  100% {
    width: 40px; } }

@media only screen and (max-width: 1440px) {
  .grid {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header " "main" "footer"; } }

@media only screen and (max-width: 768px) {
  .grid {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header " "main" "footer"; } }

@media only screen and (max-width: 320px) {
  .grid {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header " "main" "footer"; } }
