@charset "UTF-8";
* {
  margin: 0;
  padding: 0%; }

.header {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .header .carrucelheader {
    padding: 5%;
    max-width: 550px; }
  .header .logocarrucel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .header img {
    max-width: 400px; }
  .header nav {
    border-radius: 2mm;
    border-style: double;
    color: black; }
  .header a {
    text-decoration: none;
    color: black;
    font-style: oblique; }
  .header li {
    padding: 0%;
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: Arial;
    font-size: 5mm; }

#index
.main {
  min-height: 800px;
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  #index
.main p {
    margin-top: 0%;
    padding: 5%;
    color: black;
    font-size: 7mm;
    font-family: Georgia; }
    #index
.main p .local {
      height: 600px;
      margin: auto; }
  #index
.main .tamaño {
    max-width: 150vh;
    margin: auto;
    border-style: double;
    border-color: black; }

.footer {
  background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); }
  .footer .ubicacion {
    margin: auto;
    padding: 2%;
    max-width: 300px; }
  .footer li {
    list-style: none;
    color: black;
    font-size: 5mm;
    margin: auto;
    text-decoration: none; }
  .footer .logoredes {
    max-width: 40px; }
  .footer .tarjetas {
    max-width: 150px; }
