#accesorios
.gridaccesorio{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"; }
    .headergrid{
        background: linear-gradient(90deg, rgba(0,0,36,0.011642156862745057) 8%, rgba(212,23,221,1) 49%, rgba(209,72,197,0.23853291316526615) 86%);
grid-area: header header header;
    




        img{
        max-width: 200px;
    }
    nav{
        background: linear-gradient(90deg, rgba(0,0,36,0.011642156862745057) 8%, rgba(212,23,221,1) 49%, rgba(209,72,197,0.23853291316526615) 86%);
        
        button{
            background-color: darkmagenta;
           color: white;
        } 
        
        li{
        color: black;
        font-size: 5mm;
        font-style: oblique;
        font-family: helvetica;
        a{
            color: black;
            font-size: 5mm;
            font-family: helvetica;
            font-style: oblique;
        }
      }
    }
    }
    .maingrid{
        grid-area: main main main;
        background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); 
    h1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 10mm;
        font-family: georgia;
        font-style: oblique;
        background-color: darkmagenta;
        color: white;
    }
    
        .imgaccesorios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;   
    }
    .logoaccesorios{
        max-width: 100px;
        max-height: 100px;
        border-radius: 3mm;
        margin-right: 4px; 
    }
    .promo-cuchas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        margin-top: 7px;
        font-size: 7mm;
        font-family: georgia;
        font-style: oblique;
        background-color: darkmagenta;
        color: white;
    }
    .promociones{
        margin-bottom: 10px;
        font-size: 5mm;
        font-family: georgia;
        background-color: blueviolet;
        color: white;
    }
    .acorde{
        background-color: darkviolet;
        color: white;
        font-size: 9mm;
        font-family: georgia;
    }
    }
    .footergrid{
        grid-area: footer footer footer;
    
        background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%); 
        .ubicacion{
            display: flex;
            flex-direction: row;
        margin: auto;
            padding: 2%;
            max-width: 300px;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        li{
            list-style: none;
            color: black;
            font-size: 5mm;
            margin: auto;
            text-decoration: none;
        }
        .logoredes{
            max-width: 40px;
        }
        
        .tarjetas{
            max-width: 150px;
        }
        h3{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        }
        