#alimentos
.main{
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%);
.tarjetas{
    max-width: 800px;
    max-height: 500px;
}
.videos{
 
  max-width: 1000px;
  max-height: 600px;
   
}
}