#contacto .grid {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-rows: 12% auto 25%;
    grid-template-areas:
        "header "
        "main"
        "footer";
}

.headercontacto {
    grid-area: "header";
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.011642156862745057) 8%, rgba(212, 23, 221, 1) 49%, rgba(209, 72, 197, 0.23853291316526615) 86%);

    .nav {

        background: linear-gradient(90deg, rgba(0, 0, 36, 0.011642156862745057) 8%, rgba(212, 23, 221, 1) 49%, rgba(209, 72, 197, 0.23853291316526615) 86%);
        margin-left: 25px;
        margin-right: 15px;

        .menunav {
            grid-area: "header";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .buscador {
            margin-left: 628px;
        }

        li {
            @include menu
        }

        a {
            @include link
        }

        button {
            @include buttonnav
        }

        .boton {

            height: 30px;
            width: 30px;

        }

        .boton1 {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            height: 10vh;
            padding: 4px 12px 4px 12px;
            border: 1px 1px 1px 1px;
        }
    }

    .logofiru {
        @include imglogo
    }

}



.maingrid {
    grid-area: "main";
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.011642156862745057) 8%, rgba(212, 23, 221, 1) 49%, rgba(209, 72, 197, 0.23853291316526615) 86%);

    h1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 10mm;
        font-family: georgia;
        font-style: oblique;
        background-color: darkmagenta;
        color: white;
    }

}




.datos {
    
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.cuadro1 {
    margin-bottom: 3px;
    border-radius: 6mm;
    border-style: double;
    border: black;
    margin-right: 2px;
}

.cuadro2 {
    margin-top: 3px;
    border-radius: 6mm;
    border-style: double;
    border: black;
    margin-left: 2px;
}

.cuadro3 {
    max-width: 400px;
    border-radius: 6mm;
    border-style: double;
    border: black;
}

.comentario {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

    p {
        margin: auto;
        font-size: 8mm;
        font-family: georgia;
        font-style: normal;

    }


}

ul {
    margin: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        list-style: none;
        font-size: 5mm;
        font-family: georgia;
        font-style: normal;
        color: black;
    }
}

.enviar {
    margin-top: 4px;
}


.gridfooter {
    grid-area: "footer";
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%);

    .ubicacion {
        @include ubicacion
    }

    ul {
        @include ulfooter
    }

    li {
        @include lifooter
    }

    .logoredes {
        @include logoredes
    }

    .tarjetas {
        @include tarjetas
    }

    h3 {
        @include titulocontacto
    }
}


@media only screen and (max-width: 1440px) {
    .grid {
        height: 100vh;
        margin: 0%;
        display: grid;
        grid-template-rows: 12% auto 25%;
        grid-template-areas:
            "header "
            "main"
            "footer";
    }
}
   

    @media only screen and (max-width: 768px) {
        .grid {
            height: 100vh;
            margin: 0%;
            display: grid;
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
                "header "
                "main"
                "footer";
        }
    }

    @media only screen and (max-width: 320px) {
        .grid {
            height: 100vh;
            margin: 0%;
            display: grid;
            grid-template-rows: repeat(5, auto);
            grid-template-areas:
                "header "
                "main"
                "footer";
        }
    }