#estetica main {
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.011642156862745057) 8%, rgba(212, 23, 221, 1) 49%, rgba(209, 72, 197, 0.23853291316526615) 86%);

    p {
        font-size: 10mm;
        font-style: normal;
        font-family: Georgia;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    .tamañoimg {
        max-width: 500px;
    }

    .posicionimg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
}

.footer {
    grid-area: footer;


    ul {
        font-size: 5mm;
        font-family: Georgia;
        font-style: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .instagram {
        max-width: 25px;
    }

    .facebook {
        max-width: 65px;
    }

    .whatsupp {
        max-width: 25px;
    }

}

@media (min-width: 600px) {
    .gridconteiner {
        grid-template-columns: auto;
        grid-template-rows: 20% auto 10%;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }

}



@media (min-width: 320px) {
    .gridconteiner {
        grid-template-columns: auto;
        grid-template-rows: 20% auto 10%;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    
}