.header{
    background: linear-gradient(90deg, rgba(0,0,36,0.011642156862745057) 8%, rgba(212,23,221,1) 49%, rgba(209,72,197,0.23853291316526615) 86%);
.carrucelheader{
    padding: 5%
    ;
    max-width: 550px;
    
}

.logocarrucel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    img{
    max-width: 400px;
}
nav{
    border-radius: 2mm;
    border-style: double;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    font-style: oblique;
}

li{
    padding: 0%;
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: Arial;
    font-size: 5mm;
}
}