#index .articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    p {
        color: black;
        font-size: 8mm;
        font-family: Georgia;
    }
}

.footer {
    grid-area: footer;


    ul {
        font-size: 5mm;
        font-family: Georgia;
        font-style: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .instagram {
        max-width: 25px;
    }

    .facebook {
        max-width: 65px;
    }

    .whatsupp {
        max-width: 25px;
    }


}