#index .main {
    background-repeat: none;
    min-height: auto;
    min-width: auto;
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%);
    // background-image: url("../logo-redes/D7C2243D-382C-461C-9572-5F1201D3BE42\ \(2\).PNG");

    .indexservicios{
        margin:auto;
    max-width: 1280px;
    max-height: 400px;
}
.serviciosimg{
    max-width: 800px;
}

    p {
        margin: 0%;
        padding: 5%;
        color: black;
        font-size: 7mm;
        font-family: sans-serif;

        .local {
            max-height: 600px;
            // margin: auto;

        }
    }

    h2 {
        background-color: darkviolet;
        color: white;
        font-size: 10mm;
        font-family: georgia;
        font-style: oblique;
    }

    .carrucel {
        width: 500px;
        max-height: 400px;

        .imgcarrucel {
            max-width: 800px;
            max-height: 400px;
        }
    }

    .destacados {
        margin-top: 20px;
        background-color: none;
    }

    hr {
        margin: 0%;
        size: 5mm;
        color: black;
    }



}

.footer {
    background: linear-gradient(90deg, rgba(0, 0, 36, 0.0116422) 8%, #d417dd 49%, rgba(209, 72, 197, 0.238533) 86%);

    .ubicacion {
      margin: auto;
        padding: 2%;
        max-width: 300px;

    }

    li {
        list-style: none;
        color: black;
        text-decoration: none;
    }

    .logoredes {
        max-width: 40px;
        animation-name: redes;
        animation-iteration-count: infinite;
        animation-duration: 3s;
    }

}

.tarjetas {
    max-width: 150px;
}

@keyframes redes {
    0% {
        width: 20px;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 40px;
    }
}